*.iml
.gradle
/local.properties
/.idea
/build
/captures
.externalNativeBuild
.cxx
.DS_Store
/exoplayer-ui/buildout/
/exoplayer-ui/build/
/audioPlayer/build/
/build/
/audioPlayer/src/androidTest/
/photoview/build/
/scrollingpagerindicator/build/
.key.json
.env.secret
fastlane/metadata